@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right,#DCE4F2,#B0CDD9);
}
main {
    margin:auto;
    background-color: white;
    width: 600px;
    box-shadow: 5px 5px 20px #8c60569a;
    padding: 10px;
    border-radius: 20px;
}
h1{
    color: #897abb;
    background-color: #9a8fbf59;
    text-align: center;
    text-shadow: 1px 1px 3px #8c6056ca;
    
}
h2{
    color:#A69492 ;
    background-color: #DCE4F2;
}
 p{
     text-align: justify;
 }